<main class="container mt-4"></main>
    <h2>About me</h2>

    <!-- Menggunakan tabel untuk menata foto dan informasi -->
    <table>
        <tr>
            <td style="vertical-align: top; padding-right: 20px;">
                <img src="/yondaime.jpg" alt="Yondaime Photo" class="img-fluid" style="max-width: 200px; border-radius: 50%;">
            </td>
            <td>
                <p><strong>Nama:</strong> Rismaa</p> <!-- Ganti dengan nama yang diinginkan -->
                <p><strong>Umur:</strong> 19</p> <!-- Ganti dengan umur yang diinginkan -->
                <p style="text-align: justify;"> <!-- Tambahkan style text-align: justify -->
                    Risma adalah seorang lulusan akuntansi berusia 19 tahun dari Sekolah Al-Farisi. 
                    Dengan ketekunan dan dedikasi yang tinggi, ia telah membangun fondasi yang kuat dalam ilmu akuntansi, mempersiapkan dirinya untuk menghadapi tantangan di dunia profesional.
                    Selain prestasi akademis, Risma juga berperan sebagai developer, menggabungkan keahlian teknis dengan pengetahuan akuntansinya untuk menciptakan solusi yang inovatif.
                    Keterlibatannya dalam berbagai kegiatan ekstrakurikuler juga membantunya mengembangkan keterampilan kepemimpinan dan kerja tim. 
                    Dengan semangat yang menggebu, Risma siap untuk mengejar impian dan berkontribusi positif di bidang yang digelutinya.
                    
                </p>
            </td>
        </tr>
    </table>
</mai